
ul li {
    list-style: none;
}

a:hover {
    outline: none;
    text-decoration: none;
}

a:focus {
    outline: none;
    outline-offset: 0;
}

a {
    -webkit-transition: 300ms;
    transition: 300ms;
}


/*************************
*******Cart CSS******
**************************/

#do_action {
    margin-bottom: 50px;
}

.breadcrumbs {
    position: relative;
}

.breadcrumbs .breadcrumb {
    background: transparent;
    margin-bottom: 75px;
    padding-left: 0;
}

.breadcrumbs .breadcrumb li a {
    background: #d9534f;
    color: #FFFFFF;
    padding: 3px 7px;
}

.breadcrumbs .breadcrumb li a:after {
    content: "";
    height: auto;
    width: auto;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent #d9534f;
    position: absolute;
    top: 11px;
    left: 48px;
}

.breadcrumbs .breadcrumb > li + li:before {
    content: " ";
}

#cart_items .cart_info {
    border: 1px solid #E6E4DF;
    margin-bottom: 50px
}

#cart_items .cart_info .cart_menu {
    background: #d9534f;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

#cart_items .cart_info .table.table-condensed thead tr {
    height: 51px;
}

#cart_items .cart_info .table.table-condensed tr {
    border-bottom: 1px solid #F7F7F0
}

#cart_items .cart_info .table.table-condensed tr:last-child {
    border-bottom: 0
}

.cart_info table tr td {
    border-top: 0 none;
    vertical-align: inherit;
    margin-right: 5px;
}

#cart_items .cart_info .image {
    padding-left: 30px;
}

#cart_items .cart_info .cart_description h4 {
    margin-bottom: 0
}

#cart_items .cart_info .cart_description h4 a {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
}

#cart_items .cart_info .cart_description p {
    color: #696763
}

#cart_items .cart_info .cart_price p {
    color: #696763;
    font-size: 18px
}

#cart_items .cart_info .cart_total_price {
    color: #d9534f;
    font-size: 24px;
}

.cart_product {
    display: block;
    /*  margin: 15px -70px 10px 25px;*/
}

.cart_quantity_button a {
    background: #F0F0E9;
    color: #696763;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    text-align: center;
    width: 35px;
    float: left;
    line-height: 28px;
}

.cart_quantity_input {
    color: #696763;
    float: left;
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.cart_delete {
    display: block;
    margin-right: -12px;
    overflow: hidden;
}

.cart_delete a {
    background: #F0F0E9;
    color: #FFFFFF;
    padding: 5px 7px;
    font-size: 16px
}

.cart_delete a:hover {
    background: #FE980F
}

.bg h2.title {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
}

.heading h3 {
    color: #363432;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.heading p {
    color: #434343;
    font-size: 16px;
    font-weight: 300;
}

#do_action .total_area {
    padding-bottom: 18px !important;
}

#do_action .total_area,
#do_action .chose_area {
    border: 1px solid #E6E4DF;
    color: #696763;
    padding: 30px 25px 30px 0;
    margin-bottom: 80px;
}

.total_area span {
    float: right;
}

.total_area ul li {
    background: #E6E4DF;
    color: #696763;
    margin-top: 10px;
    padding: 7px 20px;
}

.user_option label {
    color: #696763;
    font-weight: normal;
    margin-left: 10px;
}

.user_info {
    display: block;
    margin-bottom: 15px;
    margin-top: 20px;
    overflow: hidden;
}

.user_info label {
    color: #696763;
    display: block;
    font-size: 15px;
    font-weight: normal;
}

.user_info .single_field {
    width: 31%
}

.user_info .single_field.zip-field input {
    background: transparent;
    border: 1px solid #F0F0E9
}

.user_info > li {
    float: left;
    margin-right: 10px
}

.user_info > li > span {
}

.user_info input,
select,
textarea {
    background: #F0F0E9;
    border: 0;
    color: #696763;
    padding: 5px;
    width: 100%;
    border-radius: 0;
    resize: none
}

.user_info select:focus {
    border: 0
}

#do_action .total_area,
#do_action .chose_area {
    border: 1px solid #E6E4DF;
    color: #696763;
    padding: 30px 25px 30px 0;
    margin-bottom: 80px;
}

.chose_area .update {
    margin-left: 40px;
}

.update,
.check_out {
    background: #d9534f;
    border-radius: 0;
    color: #FFFFFF;
    margin-top: 18px;
    border: none;
    padding: 5px 15px;
}

.update {
    margin-left: 40px;
}

.check_out {
    margin-left: 20px
}


.value-minus,
.value-plus {
    margin-right: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    vertical-align: bottom;
}

.quantity-select .entry.value-minus:before,
.quantity-select .entry.value-plus:before {
    width: 13px;
    height: 2px;
    background: #000;
    left: 50%;
    margin-left: -7px;
    top: 50%;
    margin-top: -0.5px;
    position: absolute;
}

.quantity-select .entry.value-plus:after {
    height: 13px;
    width: 2px;
    background: #000;
    left: 50%;
    margin-left: -1.4px;
    top: 50%;
    margin-top: -6.2px;
    position: absolute;
}

.value {
    cursor: default;
    line-height: 24px;
    text-align: center;
    display: inline-block;
    margin-right: 2px;
}

/*.quantity-select .entry.value-minus:hover,
.quantity-select .entry.value-plus:hover{
    background: #E5E5E5;
}*/
.quantity-select .entry.value-minus {
    margin-left: 0;
}

/*-- quantity-end --*/

/*loading button*/
.buttonload {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px /* Set a font size */
}